/* Mixins */
@mixin Flex-Center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Link-Style{
    color: #ffff;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}
@mixin Borde{
    border: 3px solid rgb(58, 58, 58);
}

/*Desktop*/

    body{
        background-image: url(https://i.pinimg.com/originals/a6/e8/ee/a6e8ee414952756792f1abaf89e4a5e8.jpg);
        margin: auto;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .navbar{
        @include Borde;
    }

/* header */

    .Img-Logo{
        width: 12%;
    }

/* main */

    .quienesSomos{
        text-align: center;
        color: #ffffff;
    }
    .tituloProductos{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        @include Borde
    }
    .productosUno{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1%;
        margin: 0.22%;
    }
    .productosDos{
        @extend.productosUno;
    }
    .linkProductos{
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .imagenProductos{
        align-self: center;
        width: 100%;
        height: 100%;
    }
    .Display-Cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .card{
        margin: 10px;
        
    }
    .card:hover{
        border: 10px solid rgb(0, 0, 0);
        transition: 200ms;
    }

    /* Carrito */

    .Titulo-Carrito{
        @extend .tituloProductos;
        text-align: left;
    }
    .Formas-De-Pago{
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: 70% 30%;
        height: 7rem;
        text-align: center;
        align-self: center;
        grid-template-areas: 
        'Item-1 Item-2 Item-3'
        'Texto1 Texto2 Texto3';
        margin: 0.5%;
        @include Borde
    }
    .Lista-Carrito1{
        color: #ffffff;
        list-style-type:none;
        grid-area: Item-1;
        background-color: #1f78fd;
    }
    .Lista-Carrito2{
        @extend .Lista-Carrito1;
        grid-area: Item-2;
        background-color: #0066ff;
    }
    .Lista-Carrito3{
        @extend .Lista-Carrito1;
        grid-area: Item-3;
        background-color: #0066ff;
    }
    .Carrito-Span1{
        color: #ffffff;
        grid-area: Texto1;
        background-color: #418dff
    }
    .Carrito-Span2{
        @extend .Carrito-Span1;
        grid-area: Texto2;
        background-color: #2579f8
    }
    .Carrito-Span3{
        @extend .Carrito-Span1;
        grid-area: Texto3;
        background-color: #2579f8
    }
    .Azul{
        color: #ffffff;
        background-color: #0066ff91;
        padding: 1%;
    }
    .Blanco{
        background-color: #ffffff;
        padding: 1%;
        height:50px;
    }
    .Texto-Direccion{
        color: #ffffff;

    }

    /* Contactanos */
    .Contactanos-Texto{
        color: #ffffff;
    }
    .Grid-Contacto{
        display: grid;
        grid-template-areas: 
        'Item-1 Item-2 Item-3'
        'Item-4 Item-5 Item-5'
        'Item-6 Item-6 Item-6';

    }
    .Input1{
        grid-area: Item-1;
    }
    .Input2{
        grid-area: Item-2;
    }
    .Input3{
        grid-area: Item-3;
    }
    .Input4{
        grid-area: Item-4;
    }
    .Input5{
        grid-area: Item-5;
    }
    .Input6{
        grid-area: Item-6;
    }
    .Comentarios{
        width: 100%;
    }
    .Contactos-links{
        background-color: #000000;
        color: #ffffff;
        border: 3px solid rgb(58, 58, 58);
    }
    .Link-Contacto{
        @include Link-Style;
    }

    /* Sobre Nosotros */

    .Texto-Descripcion{
        color: #ffffff;
    }
    .img-nosotros{
        display: flex;
        width: 80%;
        margin: 10%;
        margin-bottom: 0%;
        margin-top: 0%;
    }

    /* Productos */

    .Grid-productos{
        display: flex;
        justify-content: space-around;
    }
    .pagination{
        justify-content: center;
    }

/* Footer */

    footer {
        color: #ffffff;
    }
    .redesFooter{
            margin-left:-2%;
            list-style: none;
            grid-column: 1/2;
            text-align:start;
            margin-left: 1%;
    }
    .linkFooter{
        color: #ffffff;
    }

    .footer-grid{
        background-color: #000000;
        margin-top: 1%;
        display: grid;
        grid-template-columns:1fr 2fr 1fr;
        grid-template-rows: 90px 25px;
        border: 3px solid rgb(58, 58, 58);
    }
    .empresaCopy{
        text-align: center;
        font-size: small;
        margin-top: 12%;
        grid-column: 3/4;
    }
    .empresaCopyR{
        grid-column: 2/3;
        grid-row: 2;
        margin-top: -0.1%;
        text-align: center;
    }

/*Mobile*/

@media only screen and (Max-width: 719px){
    body{
        background-image: url(https://i.pinimg.com/originals/a6/e8/ee/a6e8ee414952756792f1abaf89e4a5e8.jpg);
        margin: auto;
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin-bottom: -100%;
    }

/* header */

    .Img-Logo{
        width: 20%;
    }
    
/* main */

    .quienesSomos{
        text-align: center;
        color: #ffffff;
    }
    .tituloProductos{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        border: 3px solid rgb(58, 58, 58);
    }
    .gridProductos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .productosUno{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .productosDos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .linkProductos{
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .imagenProductos{
        align-self: center;
        width: 100%;
        height: 100%;
    }

    /* Carrito */

    .Carrito-Span1{
        color: #ffffff;
        grid-area: Texto1;
        background-color: #418dff;
        font-size: small;
    }
    .Carrito-Span2{
        @extend .Carrito-Span1;
        grid-area: Texto2;
        background-color: #2579f8
    }
    .Carrito-Span3{
        @extend .Carrito-Span1;
        grid-area: Texto3;
        background-color: #2579f8
    }

    /* Contactanos */

    .Grid-Contacto{
        display: grid;
        grid-template-areas: 
        'Item-1 Item-2'
        'Item-3 Item-4'
        'Item-5 Item-5'
        'Item-6 Item-6';

    }
    .Input1{
        grid-area: Item-1;
    }
    .Input2{
        grid-area: Item-2;
    }
    .Input3{
        grid-area: Item-3;
    }
    .Input4{
        grid-area: Item-4;
    }
    .Input5{
        grid-area: Item-5;
    }
    .Input6{
        grid-area: Item-6;
    }

/* Footer */

    footer {
        color: #ffffff;
    }
    .redesFooter{
        list-style: none;
        text-align: start;
    }
    .linkFooter{
        color: #ffffff;
        text-align: start;
    }

    .footer-grid{
        background-color: #000000;
        margin-top: 1%;
        display: flex;
        grid-template-columns:1fr 2fr 1fr;
        grid-template-rows: 90px 25px;
        border: 3px solid rgb(58, 58, 58);
    }
    .empresaCopy{
        justify-content: right;
        font-size: small;
    }
    .empresaCopyR{
        font-size: small;
        margin-top: 5%;
        justify-content: center;
        text-align:center;
    }
}